<!-- HEADER -->
<header class="main-header">
  <nav class="main-header-nav">
    <ul class="main-header-list-items">
      <li class="main-header-item">
        <a href="/"> Shop </a>
      </li>
      <li class="main-header-item">
        <a href="products"> Porducts </a>
      </li>
      <li class="main-header-item">
        <a class="active" href="/cart"> Cart </a>
      </li>
      <li class="main-header-item">
        <a class="active" href="/orders"> Orders Dashbord </a>
      </li>
      <li class="main-header-item">
        <a href="/admin/add-product"> Add Porduct </a>
      </li>
      <li class="main-header-item">
        <a href="/admin/products"> Admin Porduct </a>
      </li>
    </ul>
  </nav>
</header>
