<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('../includes/navigation.ejs') %>

    <!-- ADD PRODUCTS -->
    <main> 
    <h3> Shopping Cart </h3>
    </main>  


 <%- include('../includes/end.ejs') %>