<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('../includes/navigation.ejs') %>

    <!-- CHECKOUT -->
    <main>
      <h3> Checkout </h3>
    </main>



 <%- include('../includes/end.ejs') %>