<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('../includes/navigation.ejs') %>

    <!-- ADD ORDERS -->
    <main>
      <h3> Order items </h3>
    </main>
 


 <%- include('../includes/end.ejs') %>